* {
    padding: 0;
    margin: 0;
    width: auto;
}

header {
    background-color: rgb(241, 171, 91);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    filter: saturate(300%);
    padding-top: 23px;
    color: white;
    font-weight: 800;
    font-size: 45px;
    

    

}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    
}

.drink {
    border-radius: 6%;
}

#drinks {
    display: flex; 
    justify-content: center; 
}

#drinks .drink {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

#drinks .drink img {
    border-radius: 6%;
    width: 500px; 
    padding-top: 5px;
}